

@font-face{
    font-family: "Nunito-Regular";
    src:url("../fonts/Nunito-Regular.ttf");
}

@font-face{
    font-family: "Nunito-ExtraBold";
    src:url("../fonts/Nunito-ExtraBold.ttf");
}
@font-face{
    font-family: "Nunito-Light";
    src:url("../fonts/Nunito-Light.ttf");
}
@font-face{
    font-family: "Nunito-ExtraLight";
    src:url("../fonts/Nunito-ExtraLight.ttf");
}
$borderColor:rgba(255,255,255,0.5);
$firstColor:transparent/*#34495e*/;
html{
    scroll-behavior: smooth;
   overflow-y: scroll;
 
}
body{
    //   background:#34495e;
    // 
    background-image: linear-gradient(to top, rgba(52,73,94,1) 0%, rgba(21,30,38,1) 100%);
    // background-attachment: fixed;
    background-size: 100%;
    // background-image: linear-gradient(to top, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
    // background-image: linear-gradient(to top, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
    font-family: "Nunito-ExtraBold";
  
}
*{
    color:#fff;


}
div{
    overflow: hidden;
}
header{
    height: 100vh;
    h1{
        font-size: 0.9em;
    }
    background: $firstColor;
    div{
        padding-top:100%; 
    }
}
footer{
    // background: #151e26;
}
h1,p.header{
 
    font-size: 1.5em;
}
h2{
    font-size: 0.8em;
  
    label{
        color:#343a40;
        letter-spacing: 2px;
        
    }
   


}
h3{
    font-size: 0.8em;

 
}
p.sub-header{
 font-family: 'Nunito-Regular';
font-size: 1em;
}
.content{
    font-size: 0.8em;
  font-family: "Nunito-ExtraLight";
}
.bg-second{

    background: $firstColor;

    
}
.bg-third{
    background:transparent /*#131317*/;
}
nav{
    z-index:9;
    border-bottom:1px solid $borderColor;

  
    .navbar-brand {
        color: #fff;
        border-right:1px solid $borderColor;
       
    }
    transition-duration: 0.6s;
    transition-timing-function: ease;

   
}
nav.onscroll,nav:hover{

    $backColor:#343a40;
    // box-shadow: 0px 0px 5px #333;
    .navbar-brand{
        color:$backColor;
        border-right: 1px solid $borderColor;

    }
   
    z-index:9;
    background: #fff;
    border-bottom:1px solid $borderColor;
    //  a{
    //      color:rgba(255,255,255,1);
    //     // border-bottom:2px solid transparent;
    //  }
    //  a:hover{
    //      color:#fff;
    // //     border-bottom:2px solid #fff;

    //  }
    // li::after{  
    //     content: "";
    //     display: block;
    //     position: "absolute";
    //     width: 0%;
    //     border-bottom:2px solid #fff;
    //     -webkit-transition: 0.5s ease-in-out;
    //     transition: 0.5s ease-in-out;
    // }
    // li:hover::after{
    //     width: 100%;
    // }
  
}


.sidebar{
    position: fixed;

    ul{
        position: relative;
        list-style: none;
        margin-top:150%;
    }
    .nav-link{
        padding: 0;
    }
    li{
        position: relative;
        width: 15px;
        height: 15px;
        margin-left:50%; 
 
        cursor: pointer;
        a{
     
            width: 100%;
            height: 100%;
            outline: none;
            border-radius: 50%;
            border:2px solid #fff;

            -moz-outline-radius: 500px;
            background-color: transparent;
            text-indent: -999em; /* make the text accessible to screen readers */
            cursor: pointer;
            position: absolute;
        }
        a:hover{
            background-color: rgba(255,255,255,0.4);
    
        }
        a.active{
            background: #fff;
        }
    }
    #scrolldescribe{
        margin-top:250%; 

      
        overflow-x:visible;
        white-space: nowrap;
        letter-spacing: 5px;
        font-family: 'Nunito-Regular';
        transform: rotate(-90deg);
      
     
 
    }
  
    border-right:1px solid $borderColor;

}


.progress{
    width: 150px;
    height: 150px;
    background: none;
    position: relative;
    
    span{
        width: 50%;
        height: 100%;
        overflow: hidden;
        position: absolute;

    }
    .progress-bar{
        width: 100%;
        height: 100%;
        background: none;
        border-width: 10px;
        border-style: solid;
        position: absolute;
        top: 0;
    }
    .progress-left{
        left: 0;
        .progress-bar{
            left: 100%;
            border-top-right-radius: 80px;
            border-bottom-right-radius: 80px;
            border-left: 0;
            -webkit-transform-origin: center left;
            transform-origin: center left;
       
            animation: circle-left 0.8s linear forwards 0.8s;
        }
 
    }

    .progress-right{
        right: 0;
        .progress-bar{
            left: -100%;
            border-top-left-radius: 80px;
            border-bottom-left-radius: 80px;
            border-right: 0;
            -webkit-transform-origin: center right;
            transform-origin: center right;
            animation: circle-right 0.8s linear forwards;
        }
    }
    .progress-value{
        width: 90%;
        height: 90%;
        border-radius: 50%;
        font-size: 15px;
        color: #fff;
        line-height: 135px;
        text-align: center;
        position: absolute;
        top: 5%;
        left: 5%;
    }
  
  
}
.turquoise .progress-bar {
    border-color: #1abc9c;
  }
  
  .emerland .progress-bar {
    border-color: #2ecc71;
  }
  
  .peterriver .progress-bar {
    border-color: #3498db;
  }
  
  .amethyst .progress-bar {
    border-color: #9b59b6;
  }
  .greensea .progress-bar {
    border-color: #16a085;
  }
  
  .nephritis .progress-bar {
    border-color: #27ae60;
  }
  
  .belizehole .progress-bar {
    border-color: #2980b9;
  }
  .wisteria .progress-bar {
    border-color: #8e44ad;
  }
  .sunflower .progress-bar {
    border-color: #f1c40f;
  }
  
  .carrot .progress-bar {
    border-color: #e67e22;
  }
  
  .alizarin .progress-bar {
    border-color: #e74c3c;
  }
  .orange .progress-bar {
    border-color: #f39c12;
  }
  
  .pumpkin .progress-bar {
    border-color: #d35400;
  }
  
  .pomegranate .progress-bar {
    border-color: #c0392b;
  }
  







@keyframes circle-right{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes circle-left{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}






img{
    box-shadow: 0px 0px 10px #343434; 
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}
img:hover{
    transform:scale(1.1);
    box-shadow: 0px 0px 30px #252525; 
    transition-duration: 0.8s;
    transition-timing-function: ease-out;
}
#work{
    img{
        box-shadow: none;

    }
}

.svg,.svg:hover{
 
    top: 0%;
    left:70%;
    box-shadow: none;
    transform:scale(1);
    z-index: -1;
}
@media (min-width: 992px) {
    header{
        h1{
            font-size: 3em;
        }

        div{
            padding-top:20%; 
        }
    }
    h1,p.header{
        font-family: "Nunito-ExtraBold";
        font-size: 3em;
    }
    p.sub-header{
    font-size: 2em;
    }
    .content{

        font-size: 1.2em;     
     }

  }
@media (min-width: 1200px) {

  }